<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1><img src="__PUBLIC__/Admin/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
    </div>
    <div class="head-l"><a class="button button-little bg-green" href="{:U('Index/Index/index')}" target="_blank"><span class="icon-home"></span> 前台首页</a>  &nbsp;&nbsp;<a class="button button-little bg-red" href="{:U('Login/logout')}"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>